#root {
  height: 100dvh;
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
  width: 100%;
  cursor: crosshair;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}

.img-container {
  position: relative;
}

.found-icon {
  position: absolute;
  width: 3rem;
  fill: rgb(3, 205, 3);
  background: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
}
