.menu {
    position: absolute;
    background-color: rgba(2, 79, 2, 0.8);
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    width: 120px;
    height: 183px;
    text-align: center;
    z-index: 999;
}

.menu legend {
    padding: 0.5rem 1rem;
}
.menu label {
    display: block;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid yellowgreen;
    cursor: pointer;
    transition: background-color 300ms ease;
    border-radius: 10px;
    animation: 250ms linear popup;
}

.menu label:hover {
    background-color: rgb(177, 215, 100);
    color: black;
}



input[type='radio'] {
    display: none;
}

@keyframes popup {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}